IO_LOC "tmds_clk_p" 33;
IO_PORT "tmds_clk_p" PULL_MODE=NONE;
IO_LOC "tmds_clk_n" 34;
IO_PORT "tmds_clk_n" PULL_MODE=NONE;
IO_LOC "tmds_data_p[0]" 35;
IO_PORT "tmds_data_p[0]" PULL_MODE=NONE;
IO_LOC "tmds_data_n[0]" 36;
IO_PORT "tmds_data_n[0]" PULL_MODE=NONE;
IO_LOC "tmds_data_p[1]" 37;
IO_PORT "tmds_data_p[1]" PULL_MODE=NONE;
IO_LOC "tmds_data_n[1]" 38;
IO_PORT "tmds_data_n[1]" PULL_MODE=NONE;
IO_LOC "tmds_data_p[2]" 39;
IO_PORT "tmds_data_p[2]" PULL_MODE=NONE;
IO_LOC "tmds_data_n[2]" 40;
IO_PORT "tmds_data_n[2]" PULL_MODE=NONE;

IO_LOC "led" 15;
IO_PORT "led" PULL_MODE=NONE;
IO_LOC "led2" 17;
IO_PORT "led2" PULL_MODE=NONE;

IO_LOC "clk" 4;
// https://github.com/YosysHQ/apicula/blob/master/doc/longwires.md
CLOCK_LOC "clk" BUFG;
